body {
  height: 100%;
  background-color: black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.auth-box {
  margin-top: 10%;
  background: white;
  border-radius: 5%;
  padding: 15%;
  
  background: rgb(43, 43, 43);
}

/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=select]:focus + label,
.input-field input[type=password]:focus + label,
.input-field textarea:focus + label {
  color: orange !important;
}

/* label blur color */
.input-field input[type=text]:not(:focus) + label,
.input-field input[type=email]:not(:focus) + label,
.input-field input[type=select]:not(:focus) + label,
.input-field input[type=password]:not(:focus) + label,
.input-field textarea:focus + label {
  color: #ffcc80 !important;
}

/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=select]:focus,
.input-field input[type=password]:focus,
.input-field textarea:focus {
  border-bottom: 1px solid orange !important;
  box-shadow: 0 1px 0 0 #000;  
  color: orange !important;
}

/* label underline focus color */
.input-field input[type=text]:not(:focus),
.input-field input[type=email]:not(:focus),
.input-field input[type=select]:not(:focus),
.input-field input[type=password]:not(:focus),
.input-field textarea:focus { 
  color: #ffcc80 !important;
}

/* valid color */
.input-field input[type=text].valid,
.input-field input[type=email].valid,
.input-field input[type=select].valid,
.input-field input[type=password].valid,
.input-field textarea.valid {
  border-bottom: 1px solid #4caf50 !important;
  box-shadow: 0 1px 0 0 #000; 
  color: orange !important;
}

/* invalid color */
.input-field input[type=text].invalid,
.input-field input[type=email].invalid,
.input-field input[type=select].invalid,
.input-field input[type=password].invalid,
.input-field textarea.invalid {
  border-bottom: 1px solid #f44336 !important;
  box-shadow: 0 1px 0 0 #000;
  color: orange !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: orange !important;
}

.auth-box {
  color: orange;
  -webkit-box-shadow: 25px 36px 22px -6px rgba(231,166,26,0.34);
  -moz-box-shadow: 25px 36px 22px -6px rgba(231,166,26,0.34);
  box-shadow: 25px 36px 22px -6px rgba(231,166,26,0.34);
}

.orange-shadow {  
  -webkit-box-shadow: 25px 36px 22px -6px rgba(231,166,26,0.34);
  -moz-box-shadow: 25px 36px 22px -6px rgba(231,166,26,0.34);
  box-shadow: 25px 36px 22px -6px rgba(231,166,26,0.34);
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
 }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
 }
}
@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
 }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
 }
}
.ticker-wrap {
  top: 0;
  overflow: hidden;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.9);
  padding-left: 100%;
  box-sizing: content-box;
}
.ticker-wrap .ticker {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
}
.ticker-wrap .ticker__item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 2rem;
  color: white;
}

.overview-container {
  background-color: #2b2b2b;
}

.overview-container {
  overflow: hidden;
  max-height: 100%;
  max-width: 100%;
}

.top-spaced {
  margin-top: 5%;
}

.chart {
  height: 500px;
  width: 500px;
}